Node-Red/flows.json
[
    {
        "id": "e91271b6e8b9d0f6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c03aea576e86aa5",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "24bf22bbffee1de6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2d040ebceff261a4",
        "type": "inject",
        "z": "e91271b6e8b9d0f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "72c67563c3fcb276",
                "a84d959db10ce009"
            ]
        ]
    },
    {
        "id": "28235b0573b4d0cf",
        "type": "mqtt in",
        "z": "e91271b6e8b9d0f6",
        "name": "",
        "topic": "M1_Io/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "24bf22bbffee1de6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "78ab08f63ebea56e"
            ]
        ]
    },
    {
        "id": "a84d959db10ce009",
        "type": "debug",
        "z": "e91271b6e8b9d0f6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "78ab08f63ebea56e",
        "type": "debug",
        "z": "e91271b6e8b9d0f6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "df2a876f95a5d619",
        "type": "function",
        "z": "e91271b6e8b9d0f6",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "72c67563c3fcb276",
        "type": "mqtt out",
        "z": "e91271b6e8b9d0f6",
        "name": "",
        "topic": "M1_IO",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "24bf22bbffee1de6",
        "x": 550,
        "y": 480,
        "wires": []
    },
    {
        "id": "185d4437b7479df3",
        "type": "mqtt in",
        "z": "3c03aea576e86aa5",
        "name": "",
        "topic": "M_IOT/Tapan",
        "qos": "0",
        "datatype": "auto",
        "broker": "24bf22bbffee1de6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "40e6ef6e2199db7e"
            ]
        ]
    },
    {
        "id": "0a8bd52947118f77",
        "type": "debug",
        "z": "3c03aea576e86aa5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "40e6ef6e2199db7e",
        "type": "function",
        "z": "3c03aea576e86aa5",
        "name": "",
        "func": "msg.playload = parseInt(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "0a8bd52947118f77"
            ]
        ]
    },
    {
        "id": "eca5942236b78789",
        "type": "inject",
        "z": "3c03aea576e86aa5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 300,
        "wires": [
            [
                "0f51c8954fa29735",
                "dd09125cd8efbbba"
            ]
        ]
    },
    {
        "id": "0f51c8954fa29735",
        "type": "debug",
        "z": "3c03aea576e86aa5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "dd09125cd8efbbba",
        "type": "mqtt out",
        "z": "3c03aea576e86aa5",
        "name": "Publish",
        "topic": "M_IOT/Tapan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "24bf22bbffee1de6",
        "x": 500,
        "y": 440,
        "wires": []
    }
]